
.pollcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black; 
    height: 100vh;
}


.options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
}

.pollcontainer h1 {
    color: white;
    font-size: 1.5em
}

.row1{
    position: relative;
    width: 60vw;
    background-color: #3498db;
}

.pollcontainer input {
    margin: 20px 10px;
    width: 50vw;
    font-size: 1.5em;
}

.btn h1 {
    color: black;
}
.btn {
    background: white;
    margin: 0px 10%;
}