body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.stylediv {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
}

.white {
    height: 45vh;
    width: 35em;
    background: white;
    border-radius: 20px;
}

.wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 15%;
    padding-bottom: 15%;
    
}

.container {
    width: 100vw;
    height: 100vh;
    background: #fff;
    border: 1px solid white;
    display: fixed;
    top: 0px;
}


.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #e21d0e;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark_circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #e21d0e;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark_check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #e21d0e
    }
}
  
  
  
  