body {
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.container {
    position: relative;
}

.backgroundImage {
    height: 100em;
    object-fit: cover;
    object-position: 0 -230px;
    filter: brightness(50%);
}

.rectangle {
    position: absolute;
    top: 18em;
    left: 48.5em;
    width: 32em;
    height: 25em;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.wrapper {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link_wrapper {
    position: relative;
}

.submitButton {
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
}

.icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #2ecc71;
    transition: all .35s;
}

.submitButton:hover {
    width: 200px;
    border: 3px solid #2ecc71;
    background: transparent;
    color: #2ecc71;
}

.submitButton:hover+.icon {
    border: 3px solid #2ecc71;
    right: -25%;
}

.pin {
    margin-top: 12vh;
    height: 45px;
    width: 250px;
    border: solid grey;
    text-align: center;
    font-size: 20px;
}

::-webkit-input-placeholder {
    text-align: center;
}